################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KartyaJatek/.vs/KartyaJatek
/KartyaJatek/obj
